<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    Form submitted ? {{ myForm.submitted }} Form valid ? {{ myForm.valid }} Form
    invalid ? {{ myForm.invalid }}
  </div>
  <fieldset>
    <label for="email-order">Email</label>
    <input
      id="email-order"
      name="email-order"
      [(ngModel)]="model.email"
      #email="ngModel"
      type="email"
      required
      email
      maxlength="25"
    />
  </fieldset>

  <div *ngIf="myForm.submitted && email.errors">
    <span *ngIf="email.errors?.['required']">L'email est requis</span>
    <span *ngIf="email.errors?.['email']">L'email est invalide</span>
  </div>

  <fieldset>
    <label for="firstName-order">FirstName</label>
    <input
      id="firstName-order"
      name="firstName-order"
      [(ngModel)]="model.firstName"
      #firstName="ngModel"
      type="text"
      required
      minlength="3"
      maxlength="15"
    />

    <div *ngIf="myForm.submitted && firstName.errors">
      <span *ngIf="firstName.errors?.['required']"
        >Le firstName est requis</span
      >
      <span *ngIf="firstName.errors?.['maxlength']"
        >Le firstName ne doit pas dépasser 15 caractères.</span
      >
      <span *ngIf="firstName.errors?.['minlength']"
        >Le firstName doit comporter au moins 3 caractères.</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="lastName-order">lastName</label>
    <input
      id="lastName-order"
      name="lastName-order"
      [(ngModel)]="model.lastName"
      #lastName="ngModel"
      type="text"
      required
      minlength="3"
      maxlength="15"
    />
  </fieldset>

  <div *ngIf="myForm.submitted && lastName.errors">
    <span *ngIf="lastName.errors?.['required']">Le lastName est requis</span>
    <span *ngIf="lastName.errors?.['maxlength']"
      >Le lastName ne doit pas dépasser 15 caractères.</span
    >
    <span *ngIf="lastName.errors?.['minlength']"
      >Le lastName doit comporter au moins 3 caractères.</span
    >
  </div>

  <fieldset>
    <label for="password-order">Password</label>
    <input
      id="password-order"
      name="password-order"
      [(ngModel)]="model.password"
      #password="ngModel"
      type="password"
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted && password.errors">
    <span *ngIf="password.errors?.['required']"
      >Le champ password est requis</span
    >
  </div>

  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
